<h1>In Hello File</h1>

<%= 5+5%>
<br>

<% str = "Saurav" %>

<%= 'My name is :' "#{str}" %><br>
<%='=================='%><br>
<% @ar.each do |item| %>
  <%=item%>
<% end %><br>
<%=link_to "show",hello_show_path%>
