<div id="<%= dom_id collageteacher %>">
  <p>
    <strong>Fname:</strong>
    <%= collageteacher.fname %>
  </p>

  <p>
    <strong>Lname:</strong>
    <%= collageteacher.lname %>
  </p>

  <p>
    <strong>Mno:</strong>
    <%= collageteacher.mno %>
  </p>

  <p>
    <strong>Subjectname:</strong>
    <%= collageteacher.subjectName %>
  </p>

  <p>
    <strong>Qulification:</strong>
    <%= collageteacher.qulification %>
  </p>

  <p>
    <strong>Experience:</strong>
    <%= collageteacher.experience %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= collageteacher.email %>
  </p>

  <p>
    <strong>Adress:</strong>
    <%= collageteacher.adress %>
  </p>

  <p>
    <strong>Postalcode:</strong>
    <%= collageteacher.postalcode %>
  </p>

</div>
