<%= form_with(model: appointment, local: true) do |form| %>
  <% if appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
      <% appointment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :appointment_date %>
    <%= form.date_select :appointment_date %>
  </div>

<div class="field">
    <%= form.label "p_name" %>
    <%= form.collection_select(:patient_id, Patient.all, :id, :patient_name, { :prompt => 'Select a Patient', :selected => @appointment.patient_id }, { class: 'form-control' }) %>
 </div>

 <div class="field">
    <%= form.label "d_name" %>
    <%= form.collection_select(:doctor_id, Doctor.all, :id, :doctor_name, { :prompt => 'Select a Doctor', :selected => @appointment.doctor_id }, { class: 'form-control' }) %>
 </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
