<!DOCTYPE html>
<html>
  <head>
    <title>GetFace</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-scroller">
      <%# leftsidemenu partial%>
      <%= render 'shared/leftsidemenu'%>

      <div class="container-fluid page-body-wrapper">
          <%# header partial%>
          <%= render 'shared/header'%>

          <%# settings-panel partial %>
          <%= render 'shared/settings-panel'%>
        <div class="main-panel">
          <%# Main body content%>
          <%= yield %>
          <%# settings-panel partial %>
          <%= render 'shared/footer'%>
        </div>  
      </div>
    </div>
  </body>
</html>
