<!DOCTYPE html>
<html>
  <head>
    <title>GetFace</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-scroller">
      <%# leftsidemenu partial%>
      <%if user_signed_in?%>
       <%= render 'shared/leftsidemenu'%>
      <% end%>
      <div class="container-fluid page-body-wrapper">
        <%if user_signed_in?%>
          <%# header partial%>
          <%= render 'shared/header'%>
          <%# settings-panel partial %>
          <%= render 'shared/settings-panel'%>
        <% end%>
        <div class="main-panel">
          <%# Main body content%>
          <%= yield %>
          <%if user_signed_in?%>
          <%# settings-panel partial %>
           <%= render 'shared/footer'%>
          <%end%>
        </div>  
      </div>
    </div>
  </body>
</html>
